__pycache__
.DS_Store
experiments/toy1/trained_models
experiments/toy1/results
experiments/toy1/plots
experiments/toy2/trained_models
experiments/toy2/trained_agents
experiments/toy2/results
experiments/toy2/plots
experiments/toy3/trained_models
experiments/toy3/trained_agents
experiments/toy3/results
experiments/toy3/plots